<h2>My rentals</h2>

<% @rents.each do |rent| %>
  <p>User: <%= rent.user_id %></p>
  <p>Galaxy: <%= rent.galaxy_id %></p>
  <p>Start Date: <%= rent.start_date %></p>
  <p>End Date: <%= rent.end_date %></p>
<% end %>
