.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: .7;
  transition: opacity 0.3s ease;
   &:hover {
    opacity: 1;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  width: 150px;
  margin-right: 5px;
  opacity: .7;
  float: right;
  transition: opacity 0.3s ease;
  &:hover {
    color: white;
    opacity: 1;
  }
}

#navbarDropdown {
  padding: 13px;
  border-radius: 50%;
  border: 1px solid white;
  width: 45px;

}

.navbar-toggler {
  background: white;
  opacity: .7;
}

.dropdown-menu-right {
  background: lightgray;
  opacity: 1;
  width: 200px;
  float: right;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  right: 10px;
}
